/*
    Personal Website - Contact Page Stylesheet
    Filename:   contact_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* Header */
header {
    font-size: 0.7em;
    text-align: center;
    border: 0.3em solid darkblue;
    margin: 0.2vh;
    background-color: azure;
    width: calc(100%-0.2vh);
}

/* Organizational Containers */
#outer-div { /* A flex container for everything but the header. This ensures the header will not be flexed in abnormal fashion. */
    display: flex;
    flex: 1;
    height: 91vh;
    margin: 0.2vh;
    width: calc(100%-0.2vh);
    flex-direction: row;
}

#other-accounts { /* The outside container for the accounts table. */
    border: 0.2em solid darkblue;
    margin: 0.2em;
    margin-left: 0.4em !important;
    width: calc(100% - 1em);
    height: 50vh;
    background-color: azure;
}

#availability-nav-horizontal {
    display: flex;
    flex-direction: row;
}

/* Individual Text Blocks */
.text-block { /* For the verbal communication and messaging text blocks on-screen. */
    border: 0.2em solid darkblue;
    margin: 0.2em;
    padding-left: 0.2em; /* Padding from the right is not necessary due to text wrapping, and vertical padding does not align well with flex. */
    padding-right: 0.2em;
    width: calc(100% - 0.8em);
    background-color: azure;
    max-height: 44vh; /* These heights are the default for information blocks when the telephone and messaging divs are not assigned heights from their ids. */
    height: 44vh;
}

#telephone {
    max-height: 30vh;
    height: 30vh;
}

#messaging {
    max-height: 58vh;
    height: 58vh;
}

/* Table Selectors */
#other-accounts-table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0.3vh;
    border: 0;
    text-align: left;
}

thead {
    background-color: rgb(218, 239, 248);
}

#accounts-table-column {
    background-color: lightcyan;
}

#contacts-table-column {
    background-color: azure;
}

td, th {
    border: 0.05em solid black;
    padding-left: 0.2em;
    min-height: 30px;
    height: 20%; /* This should be 1 divided by the number of rows used in the table. */
}

/* Navigation Menu */
#navbar {
    width: 27vw;
    height: 38vh;
    text-align: center;
    border: 0.2em solid darkblue;
    margin: 0.2vh;
    margin-left: 0.4em !important;
}

#navbar p {
    border: 0.2em solid darkblue;
    margin: 0.2em;
    height: 22.2%;
    max-width: 98%;
    text-align: center;
    line-height: 8vh; /* Centers text vertically. */
    background-color: azure;
}

/* Availability */
#availability-container {
    width: 21.5vw;
    height: 38vh;
    text-align: left;
    padding-left: 0.2em; /* Padding from the right is not necessary due to text wrapping, and vertical padding does not align well with flex. */
    padding-right: 0.2em;
    border: 0.2em solid darkblue;
    margin: 0.2vh;
    margin-right: 0.25em !important;
    flex-direction: column;
    background-color: azure;
}

#availability-list li {
    line-height: 1.7em;
}