/*
    Personal Website - Generic Stylesheet for Element Resets and Custom Selectors
    Filename:   general_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* Generic HTML Styling */
html {
    font-family: Bitter, sans-serif;
    height: 100vh;
    font-size: 16px;
}

/* Generic Body Styling */
body {
    background: url("../resources/images/main/main-bg.jpg");
    background-size: 23vh;
    background-color: skyblue;
    background-repeat: round;
}

/* Global Styling for Specific Elements */
h4 {
    text-align: center;
    line-height: 0.1vh;
    margin: 1em;
    text-wrap-mode: nowrap;
}

/* Custom Class Selectors */
.hidden {
    font-size: 0;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 0;
    min-width: 0;
    max-width: 0;
    height: 0;
    min-height: 0;
    max-height: 0;
    opacity: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.white {
    color: white;
}

.force-no-decoration { /* This is for manually specifying no underlines or other decorations on an element.*/
    text-decoration: none;
}

.inlined-image-container { /* This for lining up a small icon next to text. */
    position: relative;
    top: 5px;
}

li.subentry { /* This is for creating a sub-entry below a list element. This ensures the sub-entry has no dots or decoration. */
    list-style-type: none;
}

/* Overflow Handling */
#navbar p, .clippable { /* If the text overflows in the navbar elements, do not try to show the overflowed text to preserve the shape of the button. Do the same for the clippable class. */
    overflow: hidden;
}

.scrollable { /* Add scrollbar to container for overflowed content */
    overflow: scroll;
}

/* General Navbar Styling */
#navbar {
    background-color: lightblue;
}