/*
    Personal Website - Links Stylesheet
    Filename:   links_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* This stylesheet styles all <a> elements in a navbar as well as any items with the link class to be responsive clickable buttons. */

/* Link Pseudo-Classes */
.link:link { /* Links which have not been visited before will appear blue. */
    color: blue;
}

.link:active { /* Links which are being clicked on will move down slightly and appear blue. */
    color: blue;
    position: relative;
    left: 0.05em;
    top: 0.05em;
}

.link:hover, .link:visited:hover { /* Any link which is hovered over will appear sky blue. */
    color: skyblue;
}

.link:visited, .link:visited:active { /* Any visited link not being hovered over or being clicked on will appear dark blue. */
    color: darkblue; /* This coloring overwrites the .link:active selector. */
}

.button-link p:hover { /* For links where the entire text box is meant to serve as a button to click on, the button-link class is used to change the background color. */
    background-color: rgb(199, 221, 255);
    color: black;
    font-weight: bold;
    box-shadow: 0.05em 0.05em 0.05em rgb(64, 64, 64);
}

.button-link p:active {
    color: white;
    box-shadow: 0 0 0;
}

a img:hover { /* When hovering over an image that works as a link, make it "lighter". */
    opacity: 0.7;
}

/* Navigation Pseudo-Classes */
#navbar a:hover {
    background-color: rgb(199, 221, 255);
    font-weight: bold;
    box-shadow: 0.05em 0.05em 0.05em rgb(64, 64, 64);
}

#navbar a:hover p{
    color: black;
}

#navbar a:link:active p, #navbar a:visited:active p {
    color: white;
}

#navbar a:link:active, #navbar a:visited:active {
    position: relative;
    left: 0.05em;
    top: 0.05em;
    box-shadow: 0 0 0;
}

#navbar a:visited {
    color: darkblue;
}

/* Footer Navigation */
#footer-nav:hover {
    background-color: rgb(199, 221, 255);
    font-weight: bold;
    box-shadow: 0.05em 0.05em 0.05em rgb(64, 64, 64);
}

#footer-nav:active {
    box-shadow: 0 0 0;
}

#footer-nav:hover h1 {
    color: black;
}

#footer-nav:active h1{
    color:white !important;
    left: 0.1%;
    top: 25.1%;
}

#footer-nav h1 {
    height: 100%;
    width: 100;
}

footer a { 
    width: 100%;
    height: 100%;
    background-color: yellow !important;
}

/* Regular Selectors */
#navbar a { /* Don't underline navbar links. */
    text-decoration: none;
}