/*
    Personal Website - Links Stylesheet
    Filename:   links_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* This stylesheet styles all <a> elements in a navbar as well as any items with the link class to be responsive clickable buttons. */

/* Link Pseudo-Classes */
.link:link {
    color: blue;
}

.link:hover, .link:visited:hover {
    color: skyblue;
}

.link:active {
    color: blue;
    position: relative;
    left: 0.05em;
    top: 0.05em;
}

.link:visited, .link:visited:active {
    color: darkblue;
}

.button-link p:hover { /* For links where the entire text box is meant to serve as a button to click on, the button-link class is used to change the background color. */
    background-color: rgb(199, 221, 255);
    color: black;
    font-weight: bold;
    box-shadow: 0.05em 0.05em 0.05em rgb(64, 64, 64);
}

.button-link p:active {
    color: white;
    box-shadow: 0 0 0;
}

a img:hover { /* When hovering over an image that works as a link, make it "lighter". */
    opacity: 0.7;
}

/* Navigation Pseudo-Classes */
#navbar p:hover {
    background-color: rgb(199, 221, 255);
    color: black;
    font-weight: bold;
    box-shadow: 0.05em 0.05em 0.05em rgb(64, 64, 64);
}

#navbar p:active {
    color:white;
    position: relative;
    left: 0.05em;
    top: 0.05em;
    box-shadow: 0 0 0;
}

#navbar a:visited {
    color: darkblue;
}

/* Footer Navigation */
#footer-nav:hover {
    background-color: rgb(199, 221, 255);
}

#footer-nav:hover h1 {
    color: black;
    font-weight: bold;
}

#footer-nav h1:active {
    color:white;
    left: 0.1%;
    top: 25.1%;
}

/* Regular Selectors */
#navbar a { /* Don't underline navbar links. */
    text-decoration: none;
}