/*
    Personal Website - Links Stylesheet
    Filename:   links_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* This stylesheet styles all <a> elements in a navbar as well as any items with the link class to be responsive clickable buttons. */
nav a:link, .link:link {
    color: blue;
}

nav a:hover, .link:hover, nav a:visited:hover, .link:visited:hover{
    color: skyblue;
}

nav a:active, .link:active {
    color: blue;
    position: relative;
    left: 1px;
    top: 1px;
}

nav a { /* Don't underline navbar links. */
    text-decoration: none;
}

nav a:visited, .link:visited {
    color: darkblue;
}

a img:hover { /* When hovering over an image that works as a link, make it "lighter". */
    opacity: 0.7;
}