/*
    Personal Website - Mission (What I Stand For) Page Stylesheet
    Filename:   mission_styles.css

    Author:     Ryan Smaller
    Date:       4/13/25
*/
/* Header */
header {
    font-size: 0.7em;
    text-align: center;
    border: 0.3em solid darkblue;
    border-radius: 7px;
    margin: 0.2em;
    background-color: azure;
}

/* Organizational Containers */
#outer-div {
    display: flex;
}

#left-main-div{ /* Style the left side outer container. */
    border: 0.2em solid darkblue;
    border-radius: 7px;
    width: 90%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    margin: 0.2em;
}

#right-main-div { /* Styling for the large right side container. */
    border: 0.2em solid darkblue;
    border-radius: 7px;
    width: 50%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    margin: 0.2em;
}

div#left-top-div div { /* Flex the ethical background and photo/video container next to each other. */
    flex: 1;
    border: 0;
}

div#left-main-div div, div#right-main-div div { /* Set the bordering, heights, flexing, and margins for the majority of content on the page. */
    border: 0.2em solid darkblue;
    border-radius: 7px;
    margin: 0.1em;
    max-height: 96.3%;
    height: 43vh;
    display: flex;
    background-color: azure;
}

div#left-main-div div div { /* Ensure paragraph elements on the page are displayed in blocking form and not flexed. */
    display: block;
}

/* Generic Styling */
div { 
    padding: 0.2em;
    height: 100%;
}

/* Ordered List Styling */
ol {
    list-style-type: decimal;
}

ol li {
    font-size: 14px;
}

/* Individual Bordered Containers */
#ethical-bg {
    height: 100%;
}

div div#video-embed iframe {
    width: 100%;
    max-height: 90%;
    border: 0;
}

div div#video-embed {
    text-align: center;
}

div div#video-embed p {
    margin-bottom: 0;
}

div div div#beliefs { /* Ensure beliefs div displays p elements in block style and without whitespace at the top. */
    display: block;
    padding-top: 0;
    padding: 0.2em;
}

div#beliefs p, div#acm-code p, div#sysadmin-book p, div#ethical-bg p { /* Prevent unnecessary whitespace above p elements. */
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}


div div div#acm-code, div div div#sysadmin-book { /* Ensure references div always displays p elements in block style. */
    display: block;
    height: 79%;
}

/* Navigation Menu */
#navbar {
    border: 0.2em solid darkblue;
    border-radius: 7px;
    margin: 0.2em;
    height: 97%;
}

#navbar p {
    text-align: center;
    border: 0.2em solid darkblue;
    border-radius: 7px;
    /* min-height: 20px; */
    height: calc((97% - 0.4vh) / 4 - 0.33em);
    margin: 0.2vh;
    font-size: 16px;
    line-height: calc(((97% - 0.4vh) / 4 - 0.33em) + 7vh); /* Centers text vertically. */
    background-color: azure;
}